<div id = "backToIndex"><a href = "./index">WTG</a></div>
<nav>
    <ul>
        <li><a href= "./index">여행 플랜</a></li>
        <li><a href= "./tripLog">여행 일지</a></li>
        <li><a href= "./tripForum">여행게시판</a></li>
        <li><a href= "./countryForum">해외 포럼</a></li>
        <li><a href= "./freeForum">자유게시판</a></li>
    </ul>
</nav>
