<div id = "backToIndex"><a href = "../main/index">WTG</a></div>
<nav>
    <ul>
        <li><a href= "../board/tripPlan">여행 플랜</a></li>
        <li><a href= "../board/tripLog">여행 일지</a></li>
        <li><a href= "../board/tripForum">여행게시판</a></li>
        <li><a href= "../board/countryForum">해외 포럼</a></li>
        <li><a href= "../board/freeForum">자유게시판</a></li>
    </ul>
</nav>
