<div id = "backToIndex" style="position:absolute; top:25px; text-align:center; width:200px;">
    <a href = "../board/tripPlan" style="color:black;text-decoration: none;">WTG</a>
</div>
<nav    style="position:absolute;right:0px;width:80px;">  
    <ul style= "display: inline-block;width :12.5%;">
        <li><a href= "../board/tripPlan"    style="color:black;text-decoration: none;">   여행 플랜</a></li>
        <li><a href= "../board/tripLog"     style="color:black;text-decoration: none;">   여행 일지</a></li>
        <li><a href= "../board/tripForum"   style="color:black;text-decoration: none;">   여행게시판</a></li>
        <li><a href= "../board/countryForum"style="color:black;text-decoration: none;">     해외 포럼</a></li>
        <li><a href= "../board/freeForum"   style="color:black;text-decoration: none;">   자유게시판</a></li>
    </ul>
</nav  >
