<%
var boardWriterID = "";
var boardType="";
var boardClassfy = "";
var boardTitle = "";
var boardWriter= 0;
var boardContent= 0;
var tirpFroumMon=-1;

if(res.length!=0)
	{
		for(int i=0; i<res.length;i++)
		{
			var r=res[i]
			if(r.split("=")[0]==("boardWriterID"))
			{
				boardWriterID=r.split("=")[1];
			}
      else if(r.split("=")[0]==("boardType"))
			{
				boardType=r.split("=")[1];
			}
      if(r.split("=")[0]==("boardClassfy"))
			{
				boardClassfy=r.split("=")[1];
			}
      if(r.split("=")[0]==("boardTitle"))
			{
				boardTitle=r.split("=")[1];
			}
      if(r.split("=")[0]==("boardWriter"))
			{
				boardWriter=r.split("=")[1];
			}
      if(r.split("=")[0]==("boardContent"))
			{
				boardContent=r.split("=")[1];
			}
      if(r.split("=")[0]==("tirpFroumMon"))
			{
				tirpFroumMon=r.split("=")[1];
			}
    }
	}

{%>
    

<!DOCTYPE html>
<html>
  <head> </head>
  <body>

    <%
    if(boardWriterID ==null||boardType == null||boardClassfy == null|| boardTitle == null||boardWriter == null||boardContent == null
        ||boardWriterID==""||boardType==""||boardClassfy==""||boardTitle==""||boardWriter==""||boardContent=="" 	)
    <%{
            <a href = "./boardEnroll">입력되지 않은사항이 있습니다. 돌아가시려면 클릭하거나 뒤로가기를 누르시오.</a>
    <%}
    else{

 ////////////////////////
 //////!!!!!!!!!!!!////
 //여기서 DB 검색해서 중복아이디 있나 체크.
 //중복있으면 돌려보내기.
 //DB없으면 오류인데 이건 안해도될듯.
 //중복없으면 생성
    }

    %>

    </body>
</html>
