<%
var boardWriterID = "";//작성자아이디
var boardType="";//타입
var boardClassify = "";//분류
var boardTitle = "";//타이틀
var boardWriter= 0;//작성자명
var boardContent= 0;//본문
var tripForumMon=-1;//여행게시글 달

{%>
    

<!DOCTYPE html>
<html>
  <head> </head>
  <body>

    <%
    if(boardWriterID ==null||boardType == null||boardClassify == null|| boardTitle == null||boardWriter == null||boardContent == null
        ||boardWriterID==""||boardType==""||boardClassify==""||boardTitle==""||boardWriter==""||boardContent=="" 	)
    <%{
            <a href = "./boardEnroll">입력되지 않은사항이 있습니다. 돌아가시려면 클릭하거나 뒤로가기를 누르시오.</a>
    <%}
    else{

 ////////////////////////
 //////!!!!!!!!!!!!////
 //여기서 DB 검색해서 중복아이디 있나 체크.
 //중복있으면 돌려보내기.
 //DB없으면 오류인데 이건 안해도될듯.
 //중복없으면 생성


    %>

    </body>
</html>
