<%
var adr = loaction.search;
var res = ard.split("&");


var travelWriter = "";
var travelWriterID="";
var travelClassify = "";
var travelTitle = "";
var travelStartDate= 0;
var travelTatalSpanTime= 0;
var travelCountry= 0;
var travelContent1= "";
var travelContent2= "";
var travelContent3= "";
var travelContent4= "";
var travelContent5= "";
var travelContent6= "";
var travelContent7= "";
var travelContent8= "";
var travelContent9= "";
var travelContent10= "";
var travelMapPos1=0;
var travelMapPos1=0;
var travelMapPos2=0;
var travelMapPos3=0;
var travelMapPos4=0;
var travelMapPos5=0;
var travelMapPos6=0;
var travelMapPos7=0;
var travelMapPos8=0;
var travelMapPos9=0;
var travelMapPos10=0;

if(res.length!=0)
	{
		for(int i=0; i<res.length;i++)
		{
			var r=res[i]
			if(r.split("=")[0]==("travelWriterID"))
			{
				travelWriterID=r.split("=")[1];
			}
      		else if(r.split("=")[0]==("travelWriter "))
			{
				travelWriter =r.split("=")[1];
			}
      else if(r.split("=")[0]==("travelClassify"))
			{
				travelClassify=r.split("=")[1];
			}
      else if(r.split("=")[0]==("travelTitle"))
			{
				travelTitle=r.split("=")[1];
			}
      else if(r.split("=")[0]==("travelStartDate"))
			{
				travelStartDate=r.parseInt(split("=")[1]);
			}
      else if(r.split("=")[0]==("travelTatalSpanTime"))
			{
				travelTatalSpanTime=parseInt(r.split("=")[1]);
			}
      else if(r.split("=")[0]==("travelCountry"))
			{
				travelCountry=r.split("=")[1];
			}

      else if(r.split("=")[0]==("travelContent1"))
			{
				travelContent1=r.split("=")[1];
			} else if(r.split("=")[0]==("travelContent2"))
			{
				travelContent2=r.split("=")[1];
			} else if(r.split("=")[0]==("travelContent3"))
			{
				travelContent3=r.split("=")[1];
			} else if(r.split("=")[0]==("travelContent4"))
			{
				travelContent4=r.split("=")[1];
			} else if(r.split("=")[0]==("travelContent5"))
			{
				travelContent5=r.split("=")[1];
			} else if(r.split("=")[0]==("travelContent6"))
			{
				travelContent6=r.split("=")[1];
			} else if(r.split("=")[0]==("travelContent7"))
			{
				travelContent7=r.split("=")[1];
			} else if(r.split("=")[0]==("travelContent8"))
			{
				travelContent8=r.split("=")[1];
			} else if(r.split("=")[0]==("travelContent9"))
			{
				travelContent9=r.split("=")[1];
			} else if(r.split("=")[0]==("travelContent10"))
			{
				travelContent10=r.split("=")[1];
			}

      else if(r.split("=")[0]==("travelMapPos1"))
			{
				travelMapPos1=parseInt(r.split("=")[1]);
			}else if(r.split("=")[0]==("travelMapPos2"))
			{
				travelMapPos2=parseInt(r.split("=")[1]);
			}else if(r.split("=")[0]==("travelMapPos3"))
			{
				travelMapPos3=parseInt(r.split("=")[1]);
			}else if(r.split("=")[0]==("travelMapPos4"))
			{
				travelMapPos4=parseInt(r.split("=")[1]);
			}else if(r.split("=")[0]==("travelMapPos5"))
			{
				travelMapPos5=parseInt(r.split("=")[1]);
			}else if(r.split("=")[0]==("travelMapPos6"))
			{
				travelMapPos6=parseInt(r.split("=")[1]);
			}else if(r.split("=")[0]==("travelMapPos7"))
			{
				travelMapPos7=parseInt(r.split("=")[1]);
			}else if(r.split("=")[0]==("travelMapPos8"))
			{
				travelMapPos8=parseInt(r.split("=")[1]);
			}else if(r.split("=")[0]==("travelMapPos9"))
			{
				travelMapPos9=parseInt(r.split("=")[1]);
			}else if(r.split("=")[0]==("travelMapPos10"))
			{
				travelMapPos10=parseInt(r.split("=")[1]);
			}
		}
	}



{%>
    

<!DOCTYPE html>
<html>
  <head> </head>
  <body>

    <%PrintWriter script = response.getWriter();
    if(travelWriter ==null||travelWriterID == null||travelClassify == null|| travelTitle == null||travelCountry == null||travelStartDate == 0||travelTatalSpanTime == 0
        ||travelWriter==""||travelWriterID==""||travelClassify==""||travelTitle==""||travelCountry=="" 	)
    <%{
            <a href = "./travelEnroll">입력되지 않은사항이 있습니다. 돌아가시려면 클릭하거나 뒤로가기를 누르시오.</a>
    <%}
    else{

 ////////////////////////
 //////!!!!!!!!!!!!////
 //여기서 DB 검색해서 중복아이디 있나 체크.
 //중복있으면 돌려보내기.
 //DB없으면 오류인데 이건 안해도될듯.
 //중복없으면 생성
    }

    %>

    </body>
</html>
