<%

var adr = loaction.search;
	var res = ard.split("&");

var userID = "";
var userPassword1 = "";
var userPassword2 = "";
var userName = "";
var userBirthDate= "";
var userGender= "";


{%>
    

<!DOCTYPE html>
<html>
  <head> </head>
  <body>

    <%
    if(userID ==null||userPassword1 == null||userPassword2 == null|| userName == null||userBirthDate == null||userGender == null
        ||userID.equals("")||userPassword1.equals("")||userPassword2.equals("")||userName.equals("")||userBirthDate.equals("") 	)
    <%{
         <a href = "./userJoin">입력되지 않은사항이 있습니다. 돌아가시려면 클릭하거나 뒤로가기를 누르시오.</a>
    <%}
    else if(!userPassword1.equals(userPassword2))
    {%>
        <a href = "./userJoin">비밀번호가 다릅니다. 돌아가시려면 클릭하거나 뒤로가기를 누르시오.</a>
    <%}
    else{

        irebase.database().ref('users/' + user.uid).set({
        userID: req.body.userID,
        userPassword: req.body.userPassword1,
        userName: req.body.userName,
        userBirthDate: req.body.userBirthDate,
        userGender: req.body.userGender
      })
    }

    %>

    </body>
</html>
