<%

var adr = loaction.search;
	var res = ard.split("&");

var userID = "";
var userPassword1 = "";
var userPassword2 = "";
var userName = "";
var userBirthDate= "";
var userGender= "";


if(res.length!=0){ for(int i=0; i<res.length;i++) {
        var r=res[i]
        if(r.split("=")[0]=="userID") {   
            userID=parseInt(r.split("=")[1])
        }
        if(r.split("=")[0]=="userPassword1") {   
            userPassword1=parseInt(r.split("=")[1])
        }
        if(r.split("=")[0]=="userPassword2") {   
            userPassword2=parseInt(r.split("=")[1])
        }
        if(r.split("=")[0]=="userName") {   
            userName=parseInt(r.split("=")[1])
        }
        if(r.split("=")[0]=="userBirthDate") {   
            userBirthDate=parseInt(r.split("=")[1])
        }
        if(r.split("=")[0]=="userGender") {   
            userGender=parseInt(r.split("=")[1])
        }
    }
}
{%>
    

<!DOCTYPE html>
<html>
  <head> </head>
  <body>

    <%
    if(userID ==null||userPassword1 == null||userPassword2 == null|| userName == null||userBirthDate == null||userGender == null
        ||userID.equals("")||userPassword1.equals("")||userPassword2.equals("")||userName.equals("")||userBirthDate.equals("") 	)
    <%{
         <a href = "./userJoin">입력되지 않은사항이 있습니다. 돌아가시려면 클릭하거나 뒤로가기를 누르시오.</a>
    <%}
    else if(!userPassword1.equals(userPassword2))
    {%>
        <a href = "./userJoin">비밀번호가 다릅니다. 돌아가시려면 클릭하거나 뒤로가기를 누르시오.</a>
    <%}
    else{

 ////////////////////////
 //////!!!!!!!!!!!!////
 //여기서 DB 검색해서 중복아이디 있나 체크.
 //중복있으면 돌려보내기.
 //DB없으면 오류인데 이건 안해도될듯.
 //중복없으면 생성
    }

    %>

    </body>
</html>
