<div id = "backToIndex"><a href = "./index.ejs">WTG</a></div>
<nav>
    <ul>
        <li><a href= "./index.ejs">여행 플랜</a></li>
        <li><a href= "./tripLog.ejs">여행 일지</a></li>
        <li><a href= "./tripForum.ejs">여행게시판</a></li>
        <li><a href= "./countryForum.ejs">해외 포럼</a></li>
        <li><a href= "./freeForum.ejs">자유게시판</a></li>
    </ul>
</nav>
